@import "~@edx/brand/paragon/variables";
@import "~@openedx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

a.course-card-title {
  color: $black;
}

.course-card-meta {
  color: var(--text-muted);
}