.pgn__sheet-component {
  max-width: 75% !important;
  width: 75% !important;
  background: var(--bg-primary);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow);

  .filter-form-heading {
    font-weight: bold;
    font-size: 18px;
  }
}
#course-filter-controls-card {
  width: 512px;
  height: 288px;
  background: var(--bg-primary);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-lg);

  &.no-enrollments {
    height: 172px;
  }
  .filter-form-heading {
    font-weight: bold;
    font-size: 18px;
  }
  hr {
    width: 1px;
  };
  .filter-form-col {
    width: 256px;
    display: inline-block;
    text-align: left;
  }
}

